table, th, td {
    border: 1px solid black;
    padding: 8px;
}


.encabezado {
    width: 100%;
}

.parte-superior-derecha{
    width: 25%;
    text-align: center;
}

.parte-superior-izquierda{
    width: 70%;

}

